@import 'modules/variables';
@import 'modules/fonts';
@import 'modules/base';



// Modules
@import 'modules/main-menu';
@import 'modules/buttons';
@import 'modules/cards';
@import 'modules/cards-connecting';

/*Header*/
.box-bands {
  display: block;
  @media screen and (min-width: $break-small) {
	  display: flex;
	  justify-content: space-between;
	  min-height: 42px;
  }

  /*Products page header background*/
  &--products {
    position: relative;
    min-height: 114px;
    margin-bottom: 96px;
    background-image: url($img-path + "header/bg-football-p-1@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      bottom: 0;
      right: 0;
      border-bottom: 34px solid $primary-color;
      border-left: 320px solid transparent;

      @media screen and (min-width: $break-tablet) {
        border-bottom: 120px solid $primary-color;
        border-left: 1440px solid transparent;
      }

      @media screen and (min-width: $break-small) {
        border-bottom: 72px solid $primary-color;
        border-left: 768px solid transparent;
      }
    }




    @media screen and (min-width: $break-small) {
      min-height: 152px;
    }

    @media screen and (min-width: $break-tablet) {
      min-height: 208px;
    }
  }
}

.box-bands .box-input {
  display: none;
}

/*Logo*/
.primary-bounder {
  border-top: none;

  @media screen and (min-width: $break-small) {
    border-top: 8px solid $slate-gray-color;
  }
}

.box-logo {
  height: 42px;
  padding: 15px 0 0 15px;

  @media screen and (min-width: $break-small) {
    flex-grow: 1;
    display: block;
    min-width: 181px;
  }

  &__img {
  	display: inline-block;
  }

  &__link {
  	margin-left: 15px;
  }
}

/*Input search*/
.box-input {
  display: flex;
  position: relative;
  border-radius: 2px;
  background: $athens-gray-color;

  &__item {
    flex: 1;
    height: 48px;
    padding: 13px;
    min-width: 250px;
    border: none;
    background: $athens-gray-color url($img-path + "header/ic-search.svg") no-repeat right 10px center;

    &[type="search"] {
      box-sizing: border-box;
    }
  }
}

/*User data*/
.user-data {
  margin-top: -25px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;

  @media screen and (min-width: $break-small) {
    flex: 1;
    margin-top: 0;
    padding-right: 30px;
  }

  /*Share image*/
  &__img-search {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    background-image: url($img-path + "header/ic-search.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*Products page share image*/
    &--products {
      background-image: url($img-path + "header/ic-search-primary.svg");
    }
  }

  /*Avatar*/
  &__avatar {
    display: none;
    background-image: url($img-path + "header/ic-user.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 23px;

    @media screen and (min-width: $break-small) {
      display: block;
    }
  }

  &__name {
    display: none;

    @media screen and (min-width: $break-small) {
      display: block;
      min-width: 104px;
      color: $cerulean-color;
      margin-left: 11px;
    }
  }

  &__item-burger {
    background-image: url($img-path + "header/ic-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 23px;

    @media screen and (min-width: $break-small) {
      display: none;
    }
  }
}

/*Active behavior input*/
.box-bands--active {
  .box-input {
    display: block;
    flex: 1;
  }
}

.box-bands--active {
  .box-logo__link {
    display: none;
    @media screen and (min-width: $break-small) {
      display: block;
    }
  }

  .user-data {
    align-items: center;

    &__img-search,
    &__avatar,
    &__name {
      display: none;
    }

    @media screen and (min-width: $break-small) {
      &__avatar,
      &__name {
        display: block;
      }
    }
  }
}

.box-bg-image {
  position: relative;
  text-align: center;
  color: $primary-color;
  margin-bottom: 48px;
  min-height: 466px;
  background-repeat: no-repeat;

  @media screen and (min-width: $break-small) {
  	text-align: left;
  	min-height: 882px;
  }
  @media screen and (min-width: $break-small) {
   margin-bottom: 45px;
  }

  &--player {
    background-image: url($img-path + "content/bg-football-p-1.png");
    background-size: 100% 100%;
  }

  &--game {
    display: none;
    margin-bottom: 72px;
    background-image: url($img-path + "content/bg-baseball-p-1-a.png");
    background-size: 100% 100%;

    @media screen and (min-width: $break-small) {
      display: block;
      height: 604px;
    }

    @media screen and (min-width: $break-tablet) {
      display: block;
      height: 597px;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0;
  }

  &::before {
    border-right: 320px solid transparent;
    border-top: 27px solid $primary-color;

    @media screen and (min-width: $break-small) {
      border-right: 768px solid transparent;
      border-top: 68px solid $primary-color;
    }

    @media screen and (min-width: $break-large) {
      border-right: 1440px solid transparent;
      border-top: 128px solid $primary-color;
    }
  }

  &::after {
    bottom: 0;
    border-left: 320px solid $primary-color;
    border-top: 27px solid transparent;

    @media screen and (min-width: $break-small) {
      border-left: 768px solid $primary-color;
      border-top: 68px solid transparent;
    }

    @media screen and (min-width: $break-large) {
      border-left: 1440px solid $primary-color;
      border-top: 128px solid transparent;
    }
  }

  &--game {
    &::after {
      bottom: 0;
      border-left: 0;
      border-top: 0;
    }
  }
}

.box-bg-footer {
	background-size: cover;
	min-height: 755px;
	background-image: url($img-path + "content/ic-footer-bg.svg");
	background-repeat: no-repeat;

	@media screen and (min-width: $break-small) {
		min-height: 484px;
	}
}

.content-bounder {
  max-width: 288px;

  @media screen and (min-width: $break-small) {
    max-width: 720px;
  }

  @media screen and (min-width: $break-tablet) {
 		max-width: 1140px;
  }
}

.box-wrapper-content {
  padding-top: 72px;

  @media screen and (min-width: $break-small) {
    padding-top: 128px;
  }
  @media screen and (min-width: $break-tablet) {
  	padding-top: 208px;
  }
}

/*Content text*/
.box-text {
  width: calc(100% - 40px);
  margin: 0 20px 24px 20px;

  @media screen and (min-width: $break-small) {
  	margin: 0 0 48px 0;
  }

  &--presentation {
    opacity: 0.7;
  }
}

.main-text {
  line-height: 1.25;
  font-weight: bold;

  &--player {
	  font-size: 25px;
	  text-transform: uppercase;

	  @media screen and (min-width: $break-small) {
	   	font-size: 58px;
	  }
  }

  &--game {
	  width: calc(100% - 298px);
    margin: 0 149px 48px;
	  text-align: center;

    @media screen and (min-width: $break-tablet) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--game-title {
    @media screen and (min-width: $break-small) {
      font-size: 47px;
      margin-bottom: 24px;
    }
    @media screen and (min-width: $break-tablet) {
      font-size: 18px;
    }
  }
}

.box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-personal-information {
  display: block;
  margin-bottom: 24px;
  font-size: 14px;

  @media screen and (min-width: $break-small) {
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 48px;
	  font-size: 18px;
 }
}

.small-text {
  text-transform: lowercase;
}

/*Rectangle*/
.rectangle {
	display: none;

	@media screen and (min-width: $break-tablet) {
  	display: block;
	  box-sizing: border-box;
	  margin-left: 28px;
	  padding: 24px 30px 30px 41px;
	  width: calc(26% - 28px);
	  min-height: 190px;
	  background: rgba($primary-color, 0.2);
	  border-radius: 4px;
 	}
}

/*Row in rectangle*/
.box-row {
  display: block;
  margin: 0 auto;

  @media screen and (min-width: $break-tablet) {
    display: flex;
    text-align: right;
  }
  /*Products page*/
  &--products {
    text-align: left;
    flex-wrap: nowrap;
    margin-bottom: 48px;
    align-items: flex-start;

    @media screen and (min-width: $break-small) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $break-tablet) {
      margin-bottom: 72px;
    }
  }
}

.rectangle__text {
  max-width: 50%;
  width: 50%;
}

.rectangle__score {
  max-width: calc(50% - 25px);
  width: calc(50% - 25px);
  margin-left: 25px;
}

/*Networks*/
.box-networks {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.box-networks__img {
  display: block;
  min-height: 20px;
  min-width: 20px;
  max-width: 65px;
  max-height: 27px;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.box-networks__img {
  &:hover {
    opacity: 1;
  }

  &--active {
  	opacity: 1;
  }
}

.left-space {
	margin-left: 0;

	@media screen and (min-width: $break-small) {
    	margin-left: 33px;
  }
}


/*Proposal cards*/
.box-proposal {
	display: none;
  margin-bottom: 72px;
	@media screen and (min-width: $break-small) {
	  display: block;
    text-align: center;

	}
  @media screen and (min-width: $break-tablet) {
    display: flex;
    text-align: left;
  }

  &__links {
    width: calc(100% - 298px);
    margin: 0 149px;

    @media screen and (min-width: $break-tablet) {
      padding-top: 15px;
      margin-left: 30px;
      margin-right: 0;
      max-width: calc(50% - 30px);
      width: calc(50% - 30px);
    }

    &__title {
      padding-top: 9px;
      color: $tundora-color;
      font-size: 20px;
      margin-bottom: 26px;
      font-weight: bold;
    }

    &__text {
      margin-bottom: 57px;
    }
    /* Tech card */
    &--tech {
      border: 1px solid rgba($slate-gray-color, 0.2);
      padding: 24px 30px;
      text-align: left;
    }

    &__text--tech {
      margin-bottom: 16px;
    }
  }
}

.box-link-wrapper {
  display: flex;
  margin-bottom: 16px;
  &--first-card {
    justify-content: center;
    margin-bottom: 48px;
    @media screen and (min-width: $break-tablet) {
      justify-content: flex-start;
      margin-bottom: 16px;
    }
  }
}

.box-link-wrapper {
  .left-space {
    &:first-child {
      margin-left: 0;
    }
  }
}

.box-twitter-link {
  display: flex;
  justify-content: flex-end;
}

.box-img-link {
  display: block;

  &--social-net {
	  width: 16px;
	  height: 14px;
	  background-image: url($img-path + "network/twitter-small.svg");
	  background-position: center;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
  }

  &--tech {
	  width: 40px;
	  height: 40px;
	  background-image: url($img-path + "network/im-tech.png");
	  background-position: center;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
  }
}

.box-column-direction {
  flex-direction: column;
  margin-left: 8px;
}

.tech-title {
  font-weight: bold;
  height: 24px;
  text-transform: capitalize;
  line-height: 1;
}

.text-label {
  font-size: 14px;
  height: 16px;
  line-height: 0.3;
}

/*Footer*/
.box-bg-footer {
  .box-cards:last-child {
    margin-bottom: 0;
  }
}
/*_____________________*/
/*Products page*/

/*Main text row*/
.box-text-wrapper {
  width: 100%;
  @media screen and (min-width: $break-tablet) {
    max-width: 52%;
  }

}
.box-main-text {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.19;
  color: $tundora-color;
  text-transform: uppercase;
  margin-bottom: 24px;

  @media screen and (min-width: $break-small) {
    font-size: 54px;
  }
}
.box-secondary-text{
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;

  @media screen and (min-width: $break-tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $break-small) {
    font-size: 24px;
  }
}

.box-client {
  width: 100%;
  padding: 38px 10px;
  margin: 0 auto;
  border: 1px solid $link-water;
  text-align: center;

  @media screen and (min-width: $break-small) {
    padding: 48px 24px;
    max-width: 47%;

  }
  @media screen and (min-width: $break-tablet) {
    max-width: calc(25% + 30px);
    width: calc(25% + 30px);
    margin-left: 30px;
  }
  &__title {
    line-height: 1.33;
    font-weight: bold;
    font-size: 24px;
    color: $cerulean-color;
    margin-bottom: 9px;

    @media screen and (min-width: $break-tablet) {
      margin-bottom: 16px;
    }
    &--desktop {
      display: none;
      @media screen and (min-width: $break-tablet) {
        display: block;
      }
    }
    &--mobile {
      display: block;

      @media screen and (min-width: $break-tablet) {
        display: none;
      }
    }
  }
  &__text {
    line-height: 1.5;
  }
}

.box-copy-writing {
  display: flex;

  &__text {
    color: $heather-color;
    line-height: 1.5;
  }
}




