@import 'modules/fonts';


/*Images path*/
$img-path: '../../static/images/';

/*color variables*/
$cerulean-color: #009cde;
$royal-red-color: #d0006f;
$primary-color: #fff;

/*Break points for responsive design*/
$break-small: 768px;

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #768692;
  line-height: 1.5;
}

a {
  color: #009cde;
  text-decoration: none;
}

a:hover {
  color: #009cde;
}

/*Header*/
.box-bands {
  display: block;
  @media screen and (min-width: $break-small) {
	  display: flex;
	  justify-content: space-between;
	  min-height: 42px;
  }
}

/*Logo*/
.box-logo {
  border-top: none;
  height: 42px;
  padding: 15px 0 0 15px;

  @media screen and (min-width: $break-small) {
    flex-grow: 1;
    display: block;
    border-top: 8px solid #768692;
    min-width: 181px;
  }

  &__img {
  	display: inline-block;
  }

  &__link {
  	margin-left: 15px;
  }
}

/*Menu navigation*/
.box-menu {
  margin-top: -57px;
  display: flex;

  @media screen and (min-width: $break-small) {
    justify-content: center;
    margin-top: 0;
  }
}

.box-link {
  padding: 27px 15px 0 15px;
  flex: 1;

  &__item {
    display: none;
  }

  @media screen and (min-width: $break-small) {
    &__item {
      color: #b7c9d3;
      display: block;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      transition: color easy-in-out 0.2s;
    }
  }
}

/*User data*/
.user-data {
  margin-top: -25px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;

  @media screen and (min-width: $break-small) {
    margin-top: 0;
    padding-right: 30px;
  }
}

/*Share image*/
.user-data__img-search {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url($img-path + "header/ic-search.svg");
  background-repeat: no-repeat;
}

/*Avatar*/
.user-data__avatar {
  background-image: url($img-path + "header/ic-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 23px;

  @media screen and (min-width: $break-small) {
    background-image: url($img-path + "header/ic-user.svg");
  }
}

.user-data__name {
  display: none;

  @media screen and (min-width: $break-small) {
    display: block;
    min-width: 104px;
    color: #009cde;
    margin-left: 11px;
  }
}


.box-bg-image {
  position: relative;
  text-align: center;
  color: $primary-color;
  margin-bottom: 48px;
  min-height: 466px;
  background-repeat: no-repeat;

  &--player {
  	background-image: url($img-path + "content/bg-football-p-1.png");
	  background-size: 100% 100%;
  }

  &--game {
  	display: none;

  	@media screen and (min-width: $break-small) {
			display: block;
		  height: 597px;
		  margin-bottom: 72px;
		  background-image: url($img-path + "content/bg-baseball-p-1-a.png");
		  background-size: 100% 100%;
		}
  }

  @media screen and (min-width: $break-small) {
  	text-align: left;
  	min-height: 882px;
  }
}


.box-bg-footer {
	background-size: cover;
	min-height: 755px;
	background-image: url($img-path + "content/ic-footer-bg.svg");
	background-repeat: no-repeat;

	@media screen and (min-width: $break-small) {
		min-height: 484px;
	}
}

.content-bounder {
  margin: 0 auto;
  max-width: 320px;

  @media screen and (min-width: $break-small) {
 		max-width: 1140px;
  }
}

/*Triangle*/

.box-bg-image {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0;
  }

  &::before {
  	border-right: 320px solid transparent;
    border-top: 27px solid $primary-color;

    @media screen and (min-width: $break-small) {
	  	border-right: 1440px solid transparent;
	    border-top: 128px solid $primary-color;
		}
  }

  &::after {
    bottom: 0;
    border-left: 320px solid $primary-color;
		border-top: 27px solid transparent;

    @media screen and (min-width: $break-small) {
	    border-left: 1440px solid $primary-color;
	    border-top: 128px solid transparent;
		}
  }

  &--game {
  	&::after {
    bottom: 0;
    border-left: 0;
    border-top: 0;
  	}
  }
}


.box-wrapper-content {
  padding-top: 72px;

  @media screen and (min-width: $break-small) {
  	padding-top: 208px;
  }
}

/*Content text*/
.box-text {
  width: calc(100% - 40px);
  margin: 0 20px 24px 20px;

  @media screen and (min-width: $break-small) {
  	margin: 0 0 48px 0;
  }
}

.main-text {
  line-height: 1.25;
  font-weight: bold;

  &--player {
	  font-size: 25px;
	  text-transform: uppercase;

	  @media screen and (min-width: $break-small) {
	   	font-size: 58px;
	  }
  }

  &--game {
	  width: 100%;
	  text-align: center;
  }

  &--game-title {
  	font-size: 18px;
  }
}


.box-personal-information {
  display: block;
  margin-bottom: 24px;
  font-size: 14px;

  @media screen and (min-width: $break-small) {
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 48px;
	  font-size: 18px;
 }
}

.box-text--presentation {
  opacity: 0.7;
}

/*Buttons*/
.box-btn {
  display: block;
  margin-bottom: 45px;

  @media screen and (min-width: $break-small) {
	  display: flex;
	  align-items: center;
	  margin-bottom: 48px;
  }

  &--game {
	  justify-content: center;
	  margin-bottom: 72px;
  } 
}

.box-btn .box-btn__item {
	&:first-child {
		margin-left: 0;
	}

  	&:nth-child(n + 2) {
		display: none;
	}

	@media screen and (min-width: $break-small) {
		&:nth-child(n + 2) {
			display: block;
		}
	}
}

.box-btn__item {
	height: 48px;
	box-sizing: border-box;
	text-transform: uppercase;
	background: $primary-color;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 24px;
	border: 2px solid rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 0.7);
	background: rgba(255, 255, 255, 0.1);
	margin-bottom: 24px;
	
  @media screen and (min-width: $break-small) {
		display: inline-block;
		margin-left: 24px;
		margin-bottom: 0;
  }

  &--active {
	  border: 2px solid $primary-color;
	  color: $cerulean-color;
	  background: rgba(255, 255, 255, 1);
  }
}


.small-text {
  text-transform: lowercase;
}

/*Right arrow*/
.box-btn__img {
	display: none;

	@media screen and (min-width: $break-small) {
	  display: block;
	  width: 16px;
	  height: 16px;
	  margin-left: 24px;
	  background-image: url($img-path + "content/ic-rightarrow.svg");
	  background-repeat: no-repeat;
	}
}

/*Rectangle*/
.rectangle {
	display: none;

	@media screen and (min-width: $break-small) {
  	display: block;
	  box-sizing: border-box;
	  margin-left: 28px;
	  padding: 24px 30px 30px 41px;
	  width: calc(26% - 28px);
	  min-height: 190px;
	  background: rgba(255, 255, 255, 0.2);
	  border-radius: 4px;
 	}
}

/*Row in rectangle*/
.box-row {
  display: flex;
  text-align: right;
}

.rectangle__text {
  max-width: 50%;
  width: 50%;
}

.rectangle__score {
  max-width: calc(50% - 25px);
  width: calc(50% - 25px);
  margin-left: 25px;
}

/*Cards*/
.box-cards {
	display: block;
	text-align: center;
	margin-bottom: 72px;

	@media screen and (min-width: $break-small) {
		display: flex;
		text-align: left;
		margin-bottom: 48px;
  }
}

.box-cards .card {
	margin-left: 0;
	margin-bottom: 48px;

	@media screen and (min-width: $break-small) {
		flex: 1;
  	margin-left: 28px;

		&:first-child {
			margin-left: 0;
		}
	}	
}

.card__item {
  margin: 0 auto;
}

.card__img {
	width: 46px;
	height: 46px;
	margin-bottom: 26px;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	@media screen and (min-width: $break-small) {
	  width: 92px;
	  height: 92px;
	}
}

.card__title {
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;

  &--footer {
    color: #fff;
    text-align: center;

    @media screen and (min-width: $break-small) {
    	text-align: left;
    }
  }
}

.card__description {
	text-align: center;
	margin-bottom: 20px;
	@media screen and (min-width: $break-small) {
		text-align: left;
	}
}

.card__text {
	display: inline-block;
	margin: 0 10px 16px;

  &--footer {
	  color: rgba(255, 255, 255, 0.7);
	  transition: color 1s;
  }

	@media screen and (min-width: $break-small) {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
}

.wrapper {
	display: inline-block;
	text-align: center;

	@media screen and (min-width: $break-small) {
		text-align: left;
	}
}

/*Networks*/
.box-networks {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.box-networks__img {
  display: block;
  min-height: 20px;
  min-width: 20px;
  max-width: 65px;
  max-height: 27px;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.box-networks__img {
  &:hover {
    opacity: 1;
  }

  &--active {
  	opacity: 1;
  }
}

.left-space {
	margin-left: 0;

	@media screen and (min-width: $break-small) {
    	margin-left: 33px;
  }
}


/*Proposal cards*/
.box-proposal {
	display: none;

	@media screen and (min-width: $break-small) {
	  display: flex;
	  margin-bottom: 72px;
	}
}

.box-proposal__links {
  padding-top: 15px;
  margin-left: 30px;
  max-width: calc(50% - 30px);
  width: calc(50% - 30px);

  &__title {
	  padding-top: 9px;
	  color: #414141;
	  font-size: 20px;
	  margin-bottom: 26px;
	  font-weight: bold;
  }

  &__text {
  	margin-bottom: 57px;
  }

  &--tech {
	  border: 1px solid rgba(118, 134, 146, 0.2);
	  padding-right: 15px;
	  padding-bottom: 24px;
	  padding-left: 30px;
  }

  &__text--tech {
  	margin-bottom: 16px;
  }
}


.box-link-wrapper {
  display: flex;
  margin-bottom: 16px;
}

.box-link-wrapper {
  .left-space {
    &:first-child {
      margin-left: 0;
    }
  }
}

.box-twitter-link {
  display: flex;
  justify-content: flex-end;
}

.box-img-link {
  display: block;

  &--social-net {
	  width: 16px;
	  height: 13px;
	  background-image: url($img-path + "network/twitter-small.svg");
	  background-position: center;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
  }

  &--tech {
	  width: 40px;
	  height: 40px;
	  background-image: url($img-path + "network/im-tech.png");
	  background-position: center;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
  }
}


.box-column-direction {
  flex-direction: column;
  margin-left: 8px;
}

.tech-title {
  font-weight: bold;
  height: 24px;
  text-transform: capitalize;
  line-height: 1;
}

.text-label {
  font-size: 14px;
  height: 16px;
  line-height: 0.3;
}


/*Footer*/

.box-bg-footer .box-cards:last-child {
  margin-bottom: 0;
}