
/*Buttons*/
.box-btn {
  display: block;
  margin-bottom: 45px;

  @media screen and (min-width: $break-small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $break-tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0;
  }

  &--game {
    justify-content: center;
    margin-bottom: 72px;
  }
  &__item {
    height: 48px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: $primary-color;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 24px;
    border: 2px solid rgba($primary-color, 0.7);
    color: rgba($primary-color, 0.7);
    background: rgba($primary-color, 0.1);
    margin-bottom: 24px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(n + 2) {
      display: none;
    }

    @media screen and (min-width: $break-small) {
      &:nth-child(n + 2) {
        display: block;
      }

      margin-bottom: 17px;
      max-width: 348px;
      width: 348px;
    }

    @media screen and (min-width: $break-tablet) {
      display: inline-block;
      margin-left: 24px;
      margin-bottom: 0;
      max-width: 257px;
      width: auto;
    }

    &--active {
      border: 2px solid $primary-color;
      color: $cerulean-color;
      background: rgba($primary-color, 1);
    }

    &--small {
      width: auto;
    }

    &--product {
      color: $primary-color;
      background: $cerulean-color;
      border: none;
      line-height: 1.5;
      font-size: 16px;
      padding: 14px 24px 10px;
      margin: 0 auto;
      max-width: 184px;

      &:nth-child(n) {
        display: block;
      }
      &-active {
        width: 215px;
        color: $scampi-color;
        background: $primary-color;
      }
    }
  }

  /*Right arrow*/
  &__img {
    display: none;
    width: 16px;
    height: 16px;
    background-image: url($img-path + "content/ic-rightarrow.svg");
    background-repeat: no-repeat;

    @media screen and (min-width: $break-tablet) {
      display: block;
      margin-left: 24px;
    }
    @media screen and (max-width: $break-tablet) {
      display: block;
      margin-bottom: 17px;
      margin-left: 0;
      transform: rotate(90deg);
    }
    @media screen and (max-width: $break-small) {
      display:none;
    }

  }
}
