/*Cards*/
.box-cards {
  display: block;
  text-align: center;
  margin-bottom: 72px;

  @media screen and (min-width: $break-tablet) {
    display: flex;
    text-align: left;
    margin-bottom: 48px;
  }
  @media screen and (max-width: $break-small) {
    display: block;
  }
  &--footer {
    @media screen and (min-width: $break-small) {
      display: flex;
      text-align: left;
      margin-bottom: 48px;
    }

    &-products {
      margin-bottom: 72px;

      @media screen and (min-width: $break-small) {
        margin-bottom: 74px;
      }

      @media screen and (min-width: $break-tablet) {
        margin-bottom: 97px;
      }
    }
  }

  &--products {

    @media screen and (min-width: $break-small) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 92px;
    }

    @media screen and (min-width: $break-tablet) {
      margin-bottom: 120px;
    }

    .card--products:last-child {
      margin-bottom: 93px;

      @media screen and (min-width: $break-small) {
        margin-bottom: 0;
      }
    }
  }
}

.card {
  display: block;
  margin-left: 0;
  margin-bottom: 48px;


  @media screen and (min-width: $break-small) {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 0;
  }

  @media screen and (min-width: $break-tablet) {
    display: block;
    flex: 1;
    margin-left: 28px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__item {
    margin: 0 auto;
  }

  &__img {
    width: 46px;
    height: 46px;
    margin-bottom: 26px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media screen and (min-width: $break-small) {
      width: 92px;
      height: 92px;
      margin-bottom: 0;
    }

    @media screen and (min-width: $break-tablet) {
      margin-bottom: 26px;
    }

    &--widgets {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 16px;
    color: $tundora-color;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;

    @media screen and (min-width: $break-small) {
      text-align: left;
    }

    &--footer {
      color: $primary-color;
      text-align: center;

      @media screen and (min-width: $break-small) {
        text-align: left;
      }
      &-products {
        color: $cerulean-color;
      }
    }
    &--widgets {
      text-align: center;
    }
  }
  &__description {
    text-align: center;
    margin-bottom: 24px;
    line-height: 1.5;

    @media screen and (min-width: $break-small) {
      text-align: left;
    }

    &--widgets {
      padding: 0 25px;
      text-align: center;
    }

    &--join {
      max-width: 554px;
      margin: 0 auto 24px;
      text-align: center;
      color: $primary-color;
    }
  }

  &__text {
    display: inline-block;
    margin: 0 10px;

    @media screen and (min-width: $break-small) {
      &:first-child {
        margin-left: 0;
      }

      display: block;
      margin: 0 0 16px 0;
    }

    &--link-footer {
      color: rgba($primary-color, 0.7);
      transition: color 1s;

      &-products {
        color: $slate-gray-color;
      }
    }

    &--footer {
      @media screen and (min-width: $break-small) {
        display: block;
        margin: 0 0 16px 0;
      }
    }
  }

  &-wrapper-links {
    display: inline-block;
    text-align: center;

    @media screen and (min-width: $break-small) {
      text-align: left;
    }
    &--footer {
      @media screen and (min-width: $break-small) {
        display: block;
      }
    }
  }

  &__wrapper-text {
    margin-left: 0;

    @media screen and (min-width: $break-small) {
      margin-left: 94px;
    }

    @media screen and (min-width: $break-tablet) {
      margin-left: 0;
    }

  }

  &--footer {
    @media screen and (min-width: $break-small) {
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
    }
  }

  &--products {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto 72px;

    @media screen and (min-width: $break-small) {
      max-width: 49%;
      margin: 0;
    }
  }
}












