/*Menu navigation*/
.box-menu {
  margin-top: -57px;
  display: flex;
  text-align: center;
  flex: 9;

  @media screen and (min-width: $break-tablet) {
    margin-top: 0;
  }
}

.box-link {
  padding: 27px 15px 0 15px;
  flex: 1;
  border-top-width: 8px;
  border-top-style: solid;

  &__item {
    display: none;
    transition: color 0.2s ease;

    @media screen and (min-width: $break-tablet) {
      color: $heather-color;
      display: block;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      transition: color ease-in-out 0.2s;
    }

    &--active {
      color: rgba($primary-color, 0.7);

      &:hover {
        color: $primary-color;
      }

      &-page {
        color: $primary-color;
      }
    }
  }
}