
/*Images path*/
$img-path: '../../static/images/';

/*color variables*/
$primary-color: #fff;
$cerulean-color: #009cde;
$royal-red-color: #d0006f;
$heather-color: #b7c9d3;
$athens-gray-color: #f1f4f6;
$slate-gray-color: #768692;

/*Break points for responsive design*/
$break-small: 768px;
